<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IMC</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Calculadora de IMC</h1>
        <p>IMC é a sigla para Índice de Massa Corporal, é uma medida adotada pela Organização Mundial de Saúde para calcular o peso ideal de cada pessoa.
            O índice é calculado da seguinte forma: divide-se o peso da pessoa pela sua altura elevada ao quadrado. 
        </p>
        <p>Quer descobrir o seu? Insira seu peso e sua altura nos campos abaixo e compare com os índices da tabela.
        </p>
        <p>Importante: siga os exemplos e use vírgulas como separadores.
        </p>
        
        <form action="/calcular" method="post">
            <label for="peso">Peso (kg): (Ex. 65,7)</label>
            <input type="number" step="any" name="peso" required>
            <label for="altura">Altura (m): (Ex. 1,65)</label>
            <input type="number" step="any" name="altura" required>
            <button type="submit">Calcular</button>
        </form>
        <footer>
           <nav>
            <a href="/">Início /</a>
            <a href="/contato">Contato /</a>
            <a href="/politica">Política de Privacidade</a>
        </nav>
    </footer>
        </footer>
    </div>
</body>
</html>
