<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IMC</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Calculadora de IMC</h1>
        <form action="/calcular" method="post">
            <label for="peso">Peso (kg):</label>
            <input type="number" step="any" name="peso" required>
            <label for="altura">Altura (m):</label>
            <input type="number" step="any" name="altura" required>
            <button type="submit">Calcular</button>
        </form>
        <footer>
            <a href="/">Início</a> | 
            <a href="/contato">Contato</a> | 
            <a href="/politica">Política de Privacidade</a>
            <a href="{{ url_for('index') }}">Página Inicial</a>
        </footer>
    </div>
</body>
</html>
